body {
    background-color: #f5f5f5;
}
h1,
body,
.icons {
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
}
/* typography */
span,
h5 {
    padding-top: 1px;
}
.user-info span,
p {
    display: block;
    font-weight: 400;
    font-size: 12px;
}
h5,
.username span {
    margin: 0px;
    font-size: 16px;
    font-weight: 700;
}
.likes-comments h5 {
    margin-top: 12px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 400;
}
.likes-comments .likes {
    font-size: 16px;
    font-weight: 700;
}
.likes-comments .thin {
    font-size: 12px;
    font-weight: 400;
}
p {
    margin: 0px;
}
/* layout */
header,
main {
    width: 375px;
    margin: 0px auto;
    background-color: #f5f5f5;
}
.container {
    background-color: white;
}
header {
    border-bottom: 1px solid #c6c6c6;
}
header .container {
    display: flex;
    justify-content: space-between;
    height: 67px;
    padding: 16px 16px 17px 15px;
}
.likes-comments .container {
    padding-top: 16px;
    padding-bottom: 16px;
}
.user-info .container {
    display: flex;
    padding: 10px 17px 11px;
}

.likes-comments {
    margin-bottom: 16px;
}
.user-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* image sizes */
.user-avatar img {
    border-radius: 50%;
    height: 34px;
    width: 34px;
}
.user-info .container img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    padding: 0px 7px 0px 10px;
    margin-top: 0px;
}

.post-image .container img {
    width: 100%;
}

.likes-comments .container .icons {
    display: flex;
    justify-content: start;
    padding-right: 0px;
}
.icons img {
    margin-top: 0px;
    width: 23px;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.5;
    transition: 0.2s ease;
}
.icon:hover {
    opacity: 1;
    cursor: pointer;
}
